# Project files and folders
settings.py
local_settings.py
downloads/*

# Virtual environment folders
venv

# Python related
*.pyc
__pycache__/
*.log
local_settings.py

# Distribution / packaging
.Python
